node_modules/
coverage/
logs/
npm-debug.log
yarn-error.log
run/
logs/
.DS_Store
.idea
.vscode
.settings/
*.swp
*.lock
!.autod.conf.js

dist/
bak/
app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
