{
  "extends": "stylelint-config-recommended",
  "overrides": [{
    "ignoreFiles": [
      "source/lib/**/*.css",
      "source/css/min.css"
    ],
    "files": ["source/css/*.less"],
    "rules": {
      "no-descending-specificity": null,
      "no-invalid-double-slash-comments": null,
      "block-closing-brace-empty-line-before": null,
      "block-closing-brace-newline-after": null,
      "block-closing-brace-newline-before": null,
      "block-closing-brace-space-before": null,
      "block-opening-brace-newline-after": null,
      "block-opening-brace-space-after": null,
      "block-opening-brace-space-before": null,
      "declaration-block-semicolon-newline-after": null,
      "declaration-block-semicolon-space-after": null,
      "declaration-block-semicolon-space-before": null,
      "declaration-block-trailing-semicolon": null
    }
  }]
}