@default: url(//cdn.jsdelivr.net/gh/qinhua/halo-theme-joe2.0@master/source/cursor/emoji_zip/boring_cursor.cur), auto;
@pointer: url(//cdn.jsdelivr.net/gh/qinhua/halo-theme-joe2.0@master/source/cursor/emoji_zip/satisfied_cursor.cur), auto;
@active: url(//cdn.jsdelivr.net/gh/qinhua/halo-theme-joe2.0@master/source/cursor/emoji_zip/enamored_cursor.cur), auto;

body {
  cursor: @default;
}

a {
  cursor: @pointer;
}

a:active {
  cursor: @active;
}

p {
  cursor: @default;
}

.joe_index__banner {
  .swiper-slide .item {
    cursor: @default !important;

    &.clickable {
      cursor: @pointer !important;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    cursor: @pointer;
  }
}

.joe_header {
  .joe_header__above {
    .joe_header__above-nav .item {
      cursor: @pointer !important;
    }

    .submit {
      cursor: @pointer;
    }
  }
}

.joe_action .joe_action_item {
  cursor: @pointer;
}

.joe_load {
  cursor: @pointer;
}