.joe_journals__list {
  padding: 20px 0 30px;

  li {
    position: relative;
    padding: 10px;
    color: var(--main);
    background: var(--classD);
    border-bottom: 1px solid var(--classC);
    border-radius: 4px;
    &:last-child {
      border-bottom: none;
    }
    // &:hover {
    //   background: var(--classD);
    // }
    p {
      padding-right: 140px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      color: var(--routine);
    }

    span {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
      color: #999;
    }
  }
}
